<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>sqli_for_AWS_test</title>
	<style>
		* {
			margin: 0;
			margin-top: 0px;
			padding: 0;
			box-sizing: border-box;
		}

		#index_page {
			min-height: 100vh;
			width: 100%;
			background-color: #f2f2f2;
		}

		footer {
			width: 100%;
			
			height: 110px;
			bottom: 0px;
			border-top: 1px solid #c4c4c4;
			padding-top: 15px;
			color: #808080;
			font-size: 11px;
		}

		section {
			padding-bottom: 100px;
		}

		.nav {
			height: 70px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 1000px;
			margin: auto;
		}

		.nav .menu a {
			text-decoration: none;
			padding-left: 20px;
			padding-right: 20px;
			color: black;
		}

		.whitebutton{
			background-color: #f2f2f2;
			color: #f2f2f2;
			border: none;
		}
	</style>
</head>

<body>
	<div id="index_page">

		<header>
			<div class="nav">

				<div id="header__main">
					<h1>Sqli for AWS test</h1>
				</div>

				<div class="menu">
					<a href="/home">Home</a> |
					<a href="/check">Check</a> |
					<a href="/login">Login</a> |
					<a href="/join">Join</a>
				</div>

			</div>
		</header>

		<div style="text-align:center">
			<h1>Login</h1>

    		<form action="/login" method="POST">
        		<h2>ID <input type="text" name="username"></h2>
       			<h2>PW <input type="password" name="password"></h2>
        		<input class="whitebutton" type="submit">
    		</form>

			<a href="/login"><img src="https://t1.daumcdn.net/cfile/tistory/22458743571705FB32" width="600px"
				height="300px"></a>
			<pre>

				
			</pre>
			
		</div>


		<footer>
			<a href='https://github.com/KR-Shin-hui-won'><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
					width="30px" height="30px" alt='gitlogo'></a>
			<a href='https://www.facebook.com/profile.php?id=100021115252080'><img
					src="https://blog.kakaocdn.net/dn/UGS0q/btree5Viurw/l07AH1VgWJHm4stsAHLdL0/img.png" width="30px"
					height="30px" alt='facelogo'></a>
			<p>
				<span>만든이 : 신희원</span><br />
				<span>이메일 : gump71036969@gmail.com</span><br />
				<span>Copyright 2022. shin_hui_won. All Rights Reserved.</span>
			</p>
		</footer>
	</div>
</body>
